body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.join-room-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #a02b0e;
  color:white; 

}


.overlay {
  width: 100%; 
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: default;
}

.cell {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: green;
}

.hint-disk {
  width: 75%;
  height: 75%;
  background-color: yellow;
  z-index: 2;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.8;
}

.black-disk {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-image: radial-gradient(#333333 30%, black 70%);
  margin: 0 auto;
}

.white-disk {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-image: radial-gradient(white 30%, #cccccc 70%);
  margin: 0 auto;
}

/*.button {
  height: 2rem;
  width: 6rem;
  z-index: 100;
  margin-top: 2rem;
}*/

.button{
  z-index: 100;
  text-decoration:none;
  color:#000;
  margin:auto;
  margin-top: 2rem;
  width:150px;
  display:inline-block;
  line-height:40px;
  font-size:12px;
  font-weight:900;
  letter-spacing:2px;
  text-transform:uppercase;
  background-color: #fff;
   border:5px solid #000;
   box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0;
  position: relative;
}

.button:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
   z-index: -1;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.button:hover{
  background-color: transparent;
}
.button:hover:after{
  background-color: #1dc233;
}

.button:active{
   top:5px;
   left:5px;
   box-shadow:0 0 0 0;
}

.dropdown {
  z-index: 100;
  text-decoration:none;
  color:#000;
  margin:auto;
  margin-top: 2rem;
  width:150px;
  display:inline-block;
  line-height:40px;
  font-size:12px;
  font-weight:900;
  letter-spacing:2px;
  text-transform:uppercase;
  background-color: #fff;
   border:5px solid #000;
   box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0;
  position: relative;
}

.character {
  position:sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom:0;
}


.img{
  height: 30vmax;
  position:relative;
}

.dark{
 filter:brightness(50%);
  
}

.flip{
  transform:rotateY(180deg);
}

.dropdown:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
   z-index: -1;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.dropdown:hover{
  background-color: #1dc233;
}

select:active{
  top:5px;
  left:5px;
  box-shadow:0 0 0 0;
}
.res{
  width:20%;
}

@media screen and (max-width: 1470px) {
  .left{
    display: none;
    margin-left:50px;
  }
  .flip{
    display:none;
    margin-right: 50px;
  }
  .res{
   display:inline-flex;
   margin-bottom:10px;
  }
  .cell{
    width: 4vmax;
    height: 4vmax;
  }
}

@media screen and (max-width:460px) {
  .res{
   display:block;
   margin-bottom:60px;
  }
}


@media screen and (min-width: 1470px) {
  .res{
    display:none;
  }
}


