body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.join-room-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: whitesmoke;
}

.label {
  
}

.overlay {
  width: 100%; 
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: default;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: green;
}

.hint-disk {
  width: 75%;
  height: 75%;
  background-color: yellow;
  z-index: 2;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.8;
}

.black-disk {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-image: radial-gradient(#333333 30%, black 70%);
  margin: 0 auto;
}

.white-disk {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-image: radial-gradient(white 30%, #cccccc 70%);
  margin: 0 auto;
}

.button {
  height: 2rem;
  width: 6rem;
  z-index: 100;
  margin-top: 2rem;
}

.dropdown {
  height: 2rem;
  width: 6rem;
  z-index: 100;
  margin-top: 2rem;
}
